<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="h2mud2.ganpanproject.gandan">
    <!-- internet permission (admin) -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/GanDanTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.account.QuestionDetailActivity"></activity>
        <activity android:name=".activity.account.NoticeDetailActivity" />
        <activity android:name=".activity.account.QuestionActivity" />
        <activity android:name=".activity.account.NoticeActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/GanDanTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.item.BannerActivity" />
        <activity android:name=".activity.item.DesignItemActivity" />
        <activity android:name=".activity.item.HangingActivity" />
        <activity android:name=".activity.item.SteelBannerActivity" />
        <activity android:name=".activity.account.QuiksilverActivity" />
        <activity android:name=".activity.tool.DesignToolActivity" />
        <activity
            android:name=".activity.account.informationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.account.NoticeActivity"
            tools:ignore="DuplicateActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>