<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="h2mud2.ganpanproject.gandan">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:usesCleartextTraffic="true"
        android:theme="@style/GanDanTheme">
        <activity android:name=".activity.SplashActivity" android:theme="@style/GanDanTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.tool.DesignToolActivity"/>
        <activity android:name=".activity.item.BannerActivity"/>
        <activity android:name=".activity.item.DesignItemActivity"/>
        <activity android:name=".activity.item.HangingActivity"/>
        <activity android:name=".activity.item.SteelBannerActivity"/>

    </application>

</manifest>