<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="h2mud2.ganpanproject.gandan">

    <application
        android:theme="@style/GanDanTheme">
        <activity android:name=".activity.SplashActivity" android:theme="@style/GanDanTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.item.BannerActivity"/>
        <activity android:name=".activity.item.DesignItemActivity"/>
        <activity android:name=".activity.item.HangingActivity"/>
        <activity android:name=".activity.item.SteelBannerActivity"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/> <activity android:name="com.facebook.FacebookActivity" android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" /> <activity android:name="com.facebook.CustomTabActivity" android:exported="true"> <intent-filter> <action android:name="android.intent.action.VIEW" /> <category android:name="android.intent.category.DEFAULT" /> <category android:name="android.intent.category.BROWSABLE" /> <data android:scheme="@string/fb_login_protocol_scheme" /> </intent-filter> </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>